body {
  font-family: "poppins";
}
.analyticsContainer {
  padding: 20px;
  border-radius: 8px;
  margin: 20px auto;
  width: 70%;
  height: 100%;
  font-family: "Arial", sans-serif;
  color: #007bff;
  font-size: 24px;
}

.questionBlock {
  padding: 12px;
  color: black;
  font-size: 17px;
  margin-bottom: 15px;
  border-radius: 4px;
  /* border: 2px solid blue; */
}

.questionText {
  font-weight: bold;
  font-size: 30px;
  font-family: "poppins";
  font-weight: 500;
  padding-bottom: 10px;
  text-align: left;
}

.qnaAnalytics {
  display: flex;
  flex-basis: 19%;
  justify-content: space-evenly;
  padding: 10px;
  border-radius: 4px;
}
.quizAnalytics {
  margin-left: 15px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.analyticsData {
  background-color: #ffffff;
  padding: 30px 0px;
  margin: 0 5px;
  flex-basis: 25%;
  text-align: center;
  border-radius: 4px;
  gap: 20px;
  font-size: 21px;
  color: #474444;
  margin-bottom: 20px;
}
.line {
  margin-left: 80px;
}

.analyticsDataLabel {
  font-weight: bold;
  display: block;
}
.analyticsDataValue {
  font-size: 30px;
  font-family: "poppins";
  font-weight: 600;
  color: #474444;
}

.loading,
.errorMessage {
  color: #ff0000;
  text-align: center;
}
.impdate {
  font-size: 15px;
  font-weight: 600;
  position: absolute;
  right: 100px;
  top: 50px;
  color: #ff5d01;
  font-family: "poppins";
  width: 230px;
  text-align: left;
}
